<div class="col-lg-6 col-md-12">
    <div class="campaign-table step-table2 table-no-limit">
        <div class="campaign-headline headline2">
            <div class="row">
                <div class="col-12 vmessage-image">
                    <span>Campaign Name</span>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
                </div>


            </div>

            <hr class="hr-grey" />

            <div class="row w-100 mt-3 justify-content-center pl-3">
                <div class="col-auto mb-2"><a href="#" class="btn-small btn-grey2 font-weight-light">Dismiss</a></div>
            </div>






        </div>


    </div>
</div>
